/* blog-list.component.css */
.blog-list {
  display: flex;
  flex-wrap: wrap;
}

.blog-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  max-width: 270px;
  text-align: left;
}

.blog-item img {
  max-width: 100%;
  height: 210px;
}

.modal-header{
  background-color: #009FFD;
  color: #fff;
}


form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.saveBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveBtn:hover {
  background-color: #45a049;
}

/* Style for image preview */
img {
  max-width: 100%;
  height: 60%;
  margin-top: 10px;
  display: block;
}

.icons{
  display: flex;
  justify-content: right;
  margin-bottom: 0;

  div{
    margin-bottom: 0;
  }

  span{
    margin: 0 3px;
    cursor: pointer;
  }
}



