<h1 class="m-3">Blogs</h1>
<span class="addButton">
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title">Blog</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="blogForm" (ngSubmit)="sendPostToBackend()">

              <div>
                <label for="id">Id:</label>
                <input formControlName="id" id="id" type="text">
              </div>

              <div>
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name">
              </div>

              <div>
                <label for="description">Description:</label>
                <textarea id="description" formControlName="description"></textarea>
              </div>

              <div>
                <label for="link">Link:</label>
                <input type="text" id="link" formControlName="link">
              </div>

              <input type="hidden" formControlName="fileEntityId">

              <div>
                <label for="fileEntityId">Image:</label>
                <input type="file" id="fileEntityId" (change)="onImageChange($event)">
                <img *ngIf="imagePreview" [src]="imagePreview" alt="Photo Preview">
                <img [src]="faylService.getImageUrl(imageId)" alt="Blog Image">
              </div>
            <button class="saveBtn" [disabled]="blogForm.invalid " style="width: 400px; margin: auto;"
                    mat-stroked-button type="submit">Saqlash
            </button>
            <br>
          </form>
        </div>
      </ng-template>
    </span>

<div class="blog-list">
  <div *ngFor="let blog of blogs" class="blog-item">
    <img [src]="faylService.getImageUrl(blog.fileEntity.id)" alt="Blog Image">
    <h2>{{ blog.name }}</h2>
    <p>{{ blog.description }}</p>
    <a [href]="blog.link" target="_blank">{{ blog.link }}</a>
    <div class="icons">
      <div>
        <span [routerLink]="['/blog-list/detail', blog.id]">
          <mat-icon color="warn" diametr=5>view</mat-icon>
        </span>
        <span (click)="tahrirlash(blog)" (click)="openModal(template)">
          <mat-icon color="primary" diametr=5>edit</mat-icon>
        </span>
        <span (click)="deleteBlog(blog.id)">
          <mat-icon color="warn" class="mat-18">delete</mat-icon>
        </span>
      </div>
    </div>
  </div>
</div>



