<div class="mainText">
  Foydalanuvchilar Ro'yxati
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ism</th>
      <th scope="col">Familya</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <td>{{u?.id}}</td>
      <td>{{u?.name}}</td>
      <td>{{u?.surname}}</td>
      <td>{{u?.username}}</td>
      <td>{{u?.email}}</td>
    </tr>
  </tbody>
</table>
