.mainText{
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 450px;
}
table
{
  width: 800px;
  margin-top: 50px;
  margin-left: 150px;
}
th{
  width: 30px;
}
td{
  padding: 20px;
}
