
mat-form-field{
  width: 100%;
}

mat-spinner{
  display: inline-block;
}

// table{
//     border-collapse: collapse;
//     width: 100%;
// }
// th{
//     background-color: rgb(0, 253, 253);
// }
// th, td{
//   padding: 10px!important;
//   border: solid 1px #eee;
// }
// th{
//   background-color: aqua;
// }
