.mainText{
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 450px;
}
table {
  width: 800px;
  margin-top: 50px;
  margin-left: 150px;
}
th{
  width: 30px;
}
td{
  padding: 20px;
}
mat-paginator{
  width: 800px;
  margin-left: 150px;
}
mat-form-field{
  width: 100%;
}
.modal-header{
  background-color: #F7941E;
  color: #fff;
}

img{
  width: 100%;
  height: 100%;
}

.modal-body img{
  margin-bottom: 15px;
}
