<div class="main">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-6">
          <div class="block-item block-avatar">
            <div class="b-045d6ddeaa1b453d9b8c4cd1f1c375cc">
              <div
                options=""
                block_id="045d6ddeaa1b453d9b8c4cd1f1c375cc"
                block="[object Object]"
                theme="[object Object]"
                page_id="12133974"
              >
                <div class="block-avatar block-avatar-history">
                  <div>
                    <a
                      href="/"
                      class="fai fa-chevron-left avatar-history is-left has-p-2 active is-hide"
                      style="padding-left: 0px !important; color: #2a2a72"
                    ></a>
                  </div>
                  <a href="/">
                    <div class="has-text-centered">
                      <img
                        id="logo-img"
                        src="assets/91e9b4.jpg"
                        alt="mental-arifmetika-qarshi"
                        class="profile-avatar profile-avatar-125"
                      />
                    </div>
                  </a>
                  <div>
                    <i
                      class="fai fa-chevron-right avatar-history has-p-2"
                      style="padding-right: 0px !important; visibility: hidden"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="block-item block-text is-textable is-headline">
            <div class="b-2fcd4381f9614684bf5f1fe3d9836c83">
              <h3
                class="block-text has-rtl is-heading"
                block_id="2fcd4381f9614684bf5f1fe3d9836c83"
                block="[object Object]"
                account="[object Object]"
                index="1"
                page_id="12133974"
                style="
                  text-align: center;
                  line-height: 50px;
                  font-weight: 400;
                  font-family: serif;
                  letter-spacing: 2px;
                  color: #fff;
                  font-size: 24px;
                "
              >
                <b>MENTAL ARI>FMETIKA&nbsp;</b>
              </h3>
            </div>
          </div>

          <div class="text-center">
            <ul>
              <li>
                <form *ngIf="!authStatus">
                  <div class="btn btn-info mx-3" [routerLink]="['/auth/login']">
                    <a style="text-decoration: none">Kirish</a>
                  </div>
                </form>

                <form *ngIf="!authStatus">
                  <div class="btn btn-info" [routerLink]="['/auth/signup']">
                    <a style="text-decoration: none">Ro'yxatdan o'tish</a>
                  </div>
                </form>

                <!--                <form *ngIf="authStatus && adminStatus">-->
                <!--                  <div class="btn btn-primary" [routerLink]="['/admin']">-->
                <!--                    <a style="text-decoration: none;">Admin</a>-->
                <!--                  </div>-->
                <!--                </form>-->

                <form *ngIf="authStatus && adminStatus">
                  <div class="btn btn-primary" [routerLink]="['/admin']">
                    <a style="text-decoration: none">Admin</a>
                  </div>
                </form>

                <!--                *ngIf="authStatus && userStatus && testStatus"-->

                <form>
                  <div class="btn btn-primary mx-3" [routerLink]="['/user']">
                    <a style="text-decoration: none">Test</a>
                  </div>
                </form>

                <form
                  *ngIf="authStatus"
                  (click)="logout()"
                  style="color: #9f07e6; cursor: pointer"
                >
                  <i
                    style="font-size: 40px"
                    class="fa fa-sign-out"
                    aria-hidden="true"
                  ></i>
                </form>
              </li>
            </ul>
          </div>

          <div
            routerLink="bloglist"
            class="is-ltr"
            block_id="b41a36accfe0456b96a3dc709769eaf6"
            account="[object Object]"
            index="2"
          >
            <a
              rel="noopener"
              data-link="http://t.me/mental_arifmetika_Qarshi/"
              target="_top"
              class="button btn-link btn-link-styled with-thumb has-animation has-animation-blink"
            >
              <figure class="thumb">
                <div class="is-icon"></div>
              </figure>
              <div class="texts">
                <div class="btn-link-title">Bloglar</div>
                <div class="btn-link-subtitle">Bloglarni o'qing</div>
              </div>
            </a>
          </div>

          <div class="divider">
            <span></span
            ><span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-star"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                /></svg></span
            ><span></span>
          </div>

          <div
            class="is-ltr"
            block_id="b41a36accfe0456b96a3dc709769eaf6"
            account="[object Object]"
            index="2"
          >
            <a
              rel="noopener"
              data-link="http://t.me/mental_arifmetika_Qarshi/"
              href="http://t.me/mental_arifmetika_Qarshi/"
              target="_top"
              class="button btn-link btn-link-styled with-thumb has-animation has-animation-blink"
            >
              <figure class="thumb">
                <div class="is-icon">
                  <svg
                    data-mode="fill"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M16 1.984C8.256 1.984 2.016 8.256 2.016 16S8.256 30.016 16 30.016 30.016 23.744 30.016 16 23.744 1.984 16 1.984zm4.32 20.672s-.352.864-1.312.448l-3.584-2.72-2.176-1.728v-.064l6.656-6.016.192-.288c0-.288-.48 0-.48 0l-8.48 5.376-3.52-1.184s-.544-.192-.608-.608.608-.64.608-.64l14.048-5.504s1.152-.512 1.152.32L20.32 22.656z"
                    ></path>
                  </svg>
                </div>
              </figure>
              <div class="texts">
                <div class="btn-link-title">TELEGRAM</div>
                <div class="btn-link-subtitle">Obuna bo'lishni unutmang</div>
              </div>
            </a>
          </div>

          <div class="divider">
            <span></span
            ><span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-star"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                /></svg></span
            ><span></span>
          </div>

          <div
            class="is-ltr"
            block_id="1624fc6d6d6d4f5990d9a8ee61ae74f3"
            account="[object Object]"
            index="4"
          >
            <a
              rel="noopener"
              data-link="http://insagram.com/mental_arifmetika_qarshi/"
              href="http://insagram.com/mental_arifmetika_qarshi/"
              target="_top"
              class="button btn-link btn-link-styled with-thumb has-animation has-animation-blink"
            >
              <figure class="thumb">
                <div class="is-icon">
                  <svg
                    data-mode="fill"
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M15.968 7.776c-4.512 0-8.224 3.68-8.224 8.192 0 4.544 3.712 8.224 8.224 8.224 4.544 0 8.224-3.68 8.224-8.224 0-4.512-3.68-8.192-8.224-8.192zm0 13.28c-2.784 0-5.088-2.272-5.088-5.088 0-2.784 2.304-5.056 5.088-5.056 2.816 0 5.088 2.272 5.088 5.056a5.08 5.08 0 0 1-5.088 5.088zM22.688.16H9.248C4.224.16.16 4.256.16 9.28v13.408c0 5.024 4.064 9.12 9.088 9.12h13.44a9.14 9.14 0 0 0 9.12-9.12V9.28a9.14 9.14 0 0 0-9.12-9.12zm5.984 22.528a6 6 0 0 1-5.984 5.984H9.248c-3.296 0-5.952-2.688-5.952-5.984V9.28c0-3.296 2.656-5.984 5.952-5.984h13.44a6 6 0 0 1 5.984 5.984v13.408zM24.32 5.376a2.2 2.2 0 0 0-2.176 2.176c0 1.184.96 2.144 2.176 2.144 1.184 0 2.144-.96 2.144-2.144s-.96-2.176-2.144-2.176z"
                    ></path>
                  </svg>
                </div>
              </figure>
              <div class="texts">
                <div class="btn-link-title">INSTAGRAM</div>
                <div class="btn-link-subtitle">Obuna bo'lishni unutmang</div>
              </div>
            </a>
          </div>

          <div class="divider">
            <span></span
            ><span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-star"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                /></svg></span
            ><span></span>
          </div>

          <div class="block-item block-link">
            <div class="b-247cc227862111edaab3ac1f6bd74bd8">
              <div
                class="is-ltr"
                block_id="247cc227862111edaab3ac1f6bd74bd8"
                account="[object Object]"
                index="6"
              >
                <a
                  rel="noopener"
                  data-link="http://youtube.com/@mentalarifmetikaqarshi2862/"
                  href="http://youtube.com/@mentalarifmetikaqarshi2862/"
                  target="_top"
                  class="button btn-link btn-link-styled with-thumb has-animation has-animation-blink"
                >
                  <figure class="thumb">
                    <div class="is-icon">
                      <svg
                        data-mode="stroke"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="1"
                        stroke="#000"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <rect
                          x="3"
                          y="5"
                          width="18"
                          height="14"
                          viewBox="0 0 18 14"
                          rx="4"
                        ></rect>
                        <path d="M10 9l5 3-5 3z"></path>
                      </svg>
                    </div>
                  </figure>
                  <div class="texts">
                    <div class="btn-link-title">YOUTUBE</div>
                    <div class="btn-link-subtitle">
                      Obuna bo'lishni unutmang
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="divider">
            <span></span
            ><span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-star"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                /></svg></span
            ><span></span>
          </div>

          <div class="block-item block-link" class="vibrateAnimation">
            <div class="b-81942efba8e04187a619424ee6c9860f">
              <div
                class="is-ltr"
                block_id="81942efba8e04187a619424ee6c9860f"
                account="[object Object]"
                index="8"
              >
                <a
                  rel="noopener"
                  data-link="tel:+998886785888"
                  href="tel:+998886785888"
                  target="_top"
                  class="button btn-link btn-link-styled with-thumb has-animation has-animation-tada"
                >
                  <figure class="thumb">
                    <div class="is-icon">
                      <svg
                        data-mode="fill"
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M12.512 11.296c-3.872 2.24 2.016 13.248 6.24 10.816l3.904 6.752c-1.792 1.024-3.296 1.696-5.344.512C11.584 26.112 5.28 15.2 5.472 8.704c.064-2.272 1.376-3.168 3.136-4.16l3.904 6.752zm1.6-.16c-.416.224-.96.096-1.184-.32l-3.68-6.4c-.256-.416-.096-.928.32-1.184l1.92-1.12c.416-.224.96-.096 1.216.32l3.68 6.368c.224.416.096.96-.32 1.216l-1.952 1.12zm10.08 17.408c-.416.256-.96.096-1.216-.32l-3.68-6.368c-.224-.416-.096-.96.32-1.216l1.952-1.088c.416-.256.928-.128 1.184.32l3.68 6.368a.85.85 0 0 1-.32 1.184l-1.92 1.12z"
                        ></path>
                      </svg>
                    </div>
                  </figure>
                  <div class="texts">
                    <div class="btn-link-title">QO'NG'IROQ QILISH</div>
                    <div class="btn-link-subtitle">Biz bilan bog'lanish</div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="divider">
            <span></span
            ><span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-star"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                /></svg></span
            ><span></span>
          </div>

          <span
            style="font-size: 17px; cursor: pointer; color: #fff"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <mat-icon class="mat-18" style="width: 20px"
              >arrow_drop_down</mat-icon
            >
            KURSLAR BILAN TANISHISH
          </span>
          <br />
          <div
            class="collapse"
            id="collapseExample"
            style="font-size: 50x; color: #fff; padding: 5px 0px 0px 40px"
          >
            O’quvchilar uchun Mental arifmetika-250 ming so’m <br />
            Mental arifmetika trenerlarini tayyorlash kursi-1mln500 ming so’m
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
