// body{
//   background-image: url(./91e9b4.jpg  );
// }

.main{
  min-height: 100vh;
  background-color:  rgba(96,150,191,255);  //#2A2A72;
  background-image: linear-gradient(180deg, rgba(0,31,36,1) 0%, rgba(9,81,121,1) 49%, rgb(43, 84, 93) 100%); //linear-gradient( #2A2A72, );
}

form{
  display: inline-block;
}

.block-avatar-history {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}
.block-avatar {
  font-size: var(--theme-text-size-md);
  line-height: var(--theme-text-lineheight-md);
}
.text-avatar {
  font-size: .92em;
  color: #bac8ff;
}
.has-text-centered {
  text-align: center!important;
}

.profile-avatar-125 {
  width: 125px;
  height: 125px;
}
.profile-avatar {
  border-radius: 50%;
  display: inline-block;
}
img {
  max-width: 100%;
}
img {
  height: auto;
  max-width: 100%;
}

.is-ltr{
  height: 50px;
  text-align: center;
  .thumb{
    // position: relative;
    padding: 0;
    flex-grow: 0;
    // width: 42px;
    // min-width: 42px;
  }

  .texts{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // justify-content: center;
  }

  .btn-link-title{
    color: #fff;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  .btn-link-subtitle{
    font-size: 14px;
    line-height: var(--theme-link-subtitle-lineheight);
    letter-spacing: var(--theme-link-subtitle-letterspacing);
    opacity: .7;
    margin-top: 0.2rem;
    color: var(--block-link-subtitle-color);
  }
}

.is-ltr .thumb .is-icon svg{
  width: 42px;
  height: 42px;
  min-width: 42px;
  display: inline-block;
}

.is-ltr .thumb .is-icon svg[data-mode="fill"]{
  fill: #fff;
}

.is-ltr .thumb .is-icon svg[data-mode="stroke"]{
  stroke: #fff;
}

.btn-link, .btn-link:active, .btn-link:hover, .btn-link:link, .btn-link:visited {
  text-decoration: none!important;
  color: var(--block-link-title-color)!important;
  padding: 10px;
  display: flex!important;
  border-radius: 10px;
  height: 60px;
  background-color: 	#40b8e3  //#4C6EF5
}

.block-item {
  --block-link-background: var(--link-background);
  --block-link-border-color: var(--link-border-color);
  --block-link-border-width: var(--link-border-width);
  --block-link-border-radius: var(--link-border-radius);
  --block-link-title-color: var(--color-text);
  --block-link-subtitle-color: var(--color-text-subtitle);
}
.block-item, .block-item input, .block-item select, .block-item textarea, .page .iti__country {
  font-family: var(--theme-font-family);
  font-weight: var(--theme-font-weight);
  line-height: var(--theme-text-lineheight-md);
  font-size: var(--theme-text-size-md);
  letter-spacing: var(--theme-text-letterspacing-md);
}
.block-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.collapse-list {
  margin: -0.5rem 0;
  --block-collapse-text-color: var(--text-color);
  --block-collapse-text-font-family: var(--theme-font-family);
  --block-collapse-text-font-weight: var(--theme-font-weight);
  --block-collapse-title-color: var(--text-color);
  --block-collapse-title-font-family: var(--theme-font-family);
  --block-collapse-title-font-weight: var(--theme-font-weight);
  --block-collapse-button-color: var(--text-color);
}
.collapse-item .a {
  display: block;
  padding: 1rem 0 1rem 40px;
  position: relative;
  color: #000;
}

.collapse-icon {
  position: absolute;
  left: 5px;
  top: 1.2rem;
  height: 20px;
  width: 20px;
  opacity: .5;
}
span {
  font-style: inherit;
  font-weight: inherit;
}

icon::before {
  content: "";
  background: var(--block-collapse-button-color);
  position: absolute;
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: all .4s ease-in-out;
}
.collapse-icon::before {
  width: 2px;
  height: 20px;
  left: 9px;
  top: 0;
  opacity: 1;
}

.collapse-icon::after {
  width: 20px;
  height: 2px;
  left: 0;
  top: 9px;
}
.collapse-icon::after, .collapse-icon::before {
  content: "";
  background: var(--block-collapse-button-color);
  position: absolute;
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: all .4s ease-in-out;
}
.collapse-item .collapse-title {
  color: var(--block-collapse-title-color);
  font-family: var(--block-collapse-title-font-family);
  font-weight: var(--block-collapse-title-font-weight);
}


.collapse-icon::after, .collapse-icon::before {
  content: "";
  background: var(--block-collapse-button-color);
  position: absolute;
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: all .4s ease-in-out;
}

.collapse-text {
  position: relative;
  max-height: 0;
  -webkit-transition: max-height ease-in-out .4s;
  -moz-transition: max-height ease-in-out .4s;
  -o-transition: max-height ease-in-out .4s;
  transition: max-height ease-in-out .4s;
  overflow: hidden;
}

.collapse-text .collapse-text-inner {
  padding: 0 0 1rem 40px;
  color: var(--block-collapse-text-color);
  font-family: var(--block-collapse-text-font);
  font-family: var(--block-collapse-text-font-family);
  font-weight: var(--block-collapse-text-font-weight);
}


//divider
.divider {								/* minor cosmetics */
    display: table;
    font-size: 24px;
    text-align: center;
    width: 85%; 						/* divider width */
    margin: 40px auto;					/* spacing above/below */
    margin-top: 15px;
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(180deg, transparent, rgb(255, 255, 255));
    background-image: -moz-linear-gradient(180deg, transparent, rgb(255, 255, 255));
    background-image: -o-linear-gradient(180deg, transparent, rgb(255, 255, 255));
    background-image: linear-gradient(90deg, transparent, rgb(255, 255, 255));
}
.divider span:nth-child(2) {
    color: rgb(255, 255, 255); padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 255)), to(transparent));
    background-image: -webkit-linear-gradient(180deg, rgb(255, 255, 255), transparent);
    background-image: -moz-linear-gradient(180deg, rgb(255, 255, 255), transparent);
    background-image: -o-linear-gradient(180deg, rgb(255, 255, 255), transparent);
    background-image: linear-gradient(90deg, rgb(255, 255, 255), transparent);
}


.vibrateAnimation {
  animation: wiggle 1.8s linear infinite;
}


/* The Animation Property */
@keyframes wiggle{
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

