.example-full-width {
  width: 100%;
}
body{
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background: rgb(0,31,36);
  background: linear-gradient(180deg, rgba(0,31,36,1) 0%, rgba(9,81,121,1) 49%, rgba(61,146,163,1) 100%);
}

.container{
    max-width: 500px;
    height: 600px;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #3c80a8;
    box-shadow: 13px 13px 20px rgb(48, 46, 46), -13px -13px 20px rgb(48, 46, 46) ;
}

mat-form-field{
  background-color:white;
  border-radius:10px;
  margin: 5px;
  height: 55px;
}

#enter{
  text-decoration: none;
  color: white;
}

#enter_btn{
  margin-top: 10px;
  border-radius:10px;
  background-color:lightseagreen;
  border:none;
  width: 100px;
  height: 35px;
  transition: 0.3s;

}
#enter_btn:hover{
  background-color:lightcoral;
  width: 110px;
}
