<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./login.component.scss">
</head>

<body>
  <div id="wrapper_2">
  <div class="wrapper">
    

    <div id="login_name" class="text-center mt-4 name"> Mutaallim </div>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div id="inputBox" class="inputBox">
        <input type="text" name="username" id="userName" placeholder="Login" #username="ngModel" ngModel>
      </div>
      <div id="inputBox" class="inputBox">
        <input type="password" name="password" id="pwd" placeholder="Parol" #password="ngModel" ngModel>
      </div>
      <div class="inputBox">
        <input type="submit" value="kirish">
      </div>
    </form>
    <div class="text-center fs-6"> <a style="color: white;" [routerLink]="['/auth/signup']">Ro'yxatdan o'tish</a>
    </div>

  </div>
  </div>


</body>

</html>
