@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    height: 100vh;
    //background: #ecf0f3
    background: rgb(0,31,36);
    background: linear-gradient(180deg, rgba(0,31,36,1) 0%, rgba(9,81,121,1) 49%, rgba(61,146,163,1) 100%);
}


.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #3c80a8;
    border-radius: 15px;
    box-shadow: 13px 13px 20px  , -13px -13px 20px ;
}

#wrapper_2{
    //margin-top: -80px;
    padding-top: 10px;
    
}
#login_name{
    color:#fff;
    margin-bottom: 30px;
}
.logo {
    width: 80px;
    margin: auto
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
    color: #555
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px
}

.wrapper .btn:hover {
    background-color: #039BE5
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4
}

.wrapper a:hover {
    color: #039BE5
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}



form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 form .inputBox{
  position: relative;
  width: 225px;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.01),
  inset -2px -5px 10px rgba(255, 255, 255, 1)
  15px 15px 10px  rgba(0,0,0,0.05),
  15px 10px 15px  rgba(0,0,0,0.025);
  border-radius: 15px;
}


form .inputBox ::before{
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 5px;
  background: rgba(255,255,255, 1);
  border-radius: px;
}

 form .inputBox input{
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 1em;
  padding: 10px 15px;
}

form .inputBox input[type="submit"]{
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: 500;
}
form .inputBox:last-child{
  width: 120px;
  background: lightseagreen;
  transition: 0.5s;
}
form .inputBox:last-child:hover{
  width: 150px;
}

#inputBox{
  background-color: #fff;
}

