/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap CSS file. */
@import 'bootstrap/dist/css/bootstrap.min.css';


/* Importing ngx-bootstrap Datepicker CSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

/* Add your additional global styles below if needed */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-mdc-list-item-unscoped-content{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 0 !important;
}
