.mainText{
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 600px;
}

::ng-deep .main {
  margin-bottom: 100px;
}

.container{
  width: 900px;
  height: 100vh;
  margin: 0 auto;
}

mat-form-field{
  width: 100%;
  margin-left: 200px;
}
.formText{
  font-weight: 700;
  font-size: 15px;
  margin-left: 200px;
}

mat-spinner{
  display: inline-block;
}
.buttons{
  margin-left: 200px;
  margin-bottom: 200px;
}

.upload{
  margin-left: 200px;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

/* Style for image preview */
img {
  max-width: 100%;
  height: 60%;
  margin-top: 10px;
  display: block;
}

