<div class="mainText">
  Yangi Savol Qo'shish
</div>
<div class="container">
  <form [formGroup]="questionForm" (ngSubmit)="saqlash()">
    <mat-form-field *ngIf='tahrirRejim' appearance="outline">
      <mat-label>ID</mat-label>
      <input formControlName="id" readonly matInput placeholder="ID" autocomplete="off">
    </mat-form-field>

    <div class="formText">Savol sahifasi</div>
    <ckeditor style="margin-left: 150px;" class="d-flex align-items-center justify-content-center" [editor]="Editor"
              formControlName="title">
    </ckeditor>
    <br>
    <div class="formText">Savol javobi</div>
    <mat-form-field appearance="outline">
      <mat-label>Javob</mat-label>
      <textarea formControlName="answer" matInput Answer="Javob...">
          </textarea>
    </mat-form-field>
    <br>
    <div class="formText">Savol categoriyasi</div>
    <mat-form-field appearance="outline">
      <mat-select formControlName="questionLevelId" placeholder="Categorylar . . .">
        <mat-option *ngFor="let l of questionLevels" [value]="l.id">{{l?.level}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="upload">
      <label for="fileEntityId">Image:</label>
      <input type="file" id="fileEntityId" (change)="onImageChange($event)">
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Photo Preview">
    </div>
    <div class="buttons">
      <button [disabled]="questionForm.invalid || surovBajarilmoqda" mat-raised-button color="primary" type="submit">
        <mat-spinner *ngIf="surovBajarilmoqda" diameter="20" color="warn"></mat-spinner>
        Saqlash
      </button>
      &nbsp;
      <button mat-raised-button color="accent" type="reset" (click)="tozalash()">
        Bekor qilish</button>
    </div>
  </form>
</div>
